.vscode/**
**/sdkconfig
**/sdkconfig.old
**/build/**


components/mdns-comp/**
components/mqtt-comp/**
components/pppos-comp/**
components/usb-device-comp/**
components/usb-host-comp/usbip/**
components/websocket-comp/**


tests/mqtt/**
tests/usb-device/**


examples/**
